click==7.1.2
cycler==0.10.0
importlib-metadata==1.7.0
kiwisolver==1.1.0
lipsum==0.1.2
lorem==0.1.1
lorem-text==1.5
matplotlib==3.2.1
numpy==1.18.2
packaging==20.4
Pint==0.15
PyDispatcher==2.0.5
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
PyQt5-stubs==5.14.2.2
pyqtgraph==0.10.0
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
zipp==3.1.0
